@font-face {
  font-family: Pretendard;
  font-weight: 300;
  font-display: swap;
  src: url('/public/fonts/Pretendard-Light.subset.woff');
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-display: swap;
  src: url('/public/fonts/Pretendard-Regular.subset.woff');
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-display: swap;
  src: url('/public/fonts/Pretendard-SemiBold.subset.woff');
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-display: swap;
  src: url('/public/fonts/Pretendard-Bold.subset.woff');
}

:root {
  font-family: Pretandard, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
