@font-face {
  font-family: Pretendard;
  font-weight: 300;
  font-display: swap;
  src: url('/public/fonts/Pretendard-Light.subset.woff');
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-display: swap;
  src: url('/public/fonts/Pretendard-Regular.subset.woff');
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-display: swap;
  src: url('/public/fonts/Pretendard-Medium.subset.woff');
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-display: swap;
  src: url('/public/fonts/Pretendard-SemiBold.subset.woff');
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-display: swap;
  src: url('/public/fonts/Pretendard-Bold.subset.woff');
}

:root {
  font-family: Pretandard, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  word-break: keep-all;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-bottom {
  border-bottom: 2px solid black;
}

.border-top {
  border-top: 2px solid white;
}
